@charset "UTF-8";

/* Em HTML é id = em CSS é # (Só pode em um elemento)*/
/* Em HTML é class = em CSS é . (Pode em vários elementos)*/

body {
    background-color: rgb(159, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(16, 105, 105);
}

h1#principal {
    text-align: center;
    background-color: rgb(25, 88, 88);
    color: white;
}

h2 {
    color: rgb(53, 119, 119);
}

.basico {
    color: rgb(16, 105, 105);
    font-weight: bold;
}

.intermediario {
    color: rgb(105, 99, 16);
}

.avancado {
    color: rgb(105, 16, 16);
}