@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #3CA6A6,#012E40);
}

main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #00202cc4;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
color: #024959;
text-align: center;
text-shadow: 1px 1px 2px rgba(1, 53, 65, 0.774);
}

h2 {
color: #026773;
}

p {
    text-align: justify;
}